body{
    background: url("https://img.freepik.com/premium-photo/group-animals-with-one-them-being-herded_882954-6179.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: brown;
    
    width: 600px;
    border-radius: 40px;
    font-size: xxx-large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

h2{
    font-size: 28px;
}
.name{
    height: 60px;
    border: 2px solid whitesmoke;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    color: white;
    justify-content: space-around;
}
.tab{
    display: flex;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    border-radius: 40px;
    border: 2px solid whitesmoke;
}
img{
    height: 200px;
    width: 150px;
    border-radius: 50px;
    border: 2px solid whitesmoke;
}
